<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.support.fit.admin.mapper.UmsAdminMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.support.fit.mbg.model.UmsMenu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="create_time" property="createTime" />
        <result column="title" property="title" />
        <result column="level" property="level" />
        <result column="sort" property="sort" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="hidden" property="hidden" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, create_time, title, level, sort, name, icon, hidden
    </sql>

    <!--通过角色查询菜单信息-->
    <select id="listMenusByRoleId" resultMap="BaseResultMap">
        SELECT sys_menu.menu_id,
               sys_menu.name,
               sys_menu.permission,
               sys_menu.path,
               sys_menu.parent_id,
               sys_menu.icon,
               sys_menu.sort_order,
               sys_menu.keep_alive,
               sys_menu.type,
               sys_menu.del_flag,
               sys_menu.create_by,
               sys_menu.create_time,
               sys_menu.update_by,
               sys_menu.update_time
        FROM sys_menu
                 LEFT JOIN sys_role_menu ON sys_menu.menu_id = sys_role_menu.menu_id
        WHERE sys_menu.del_flag = 0
          AND sys_role_menu.role_id = #{roleId}
        ORDER BY sys_menu.sort_order DESC
    </select>

</mapper>
